<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1 style="font-family:monospace">Laugh a lil' bit, shall we?</h1>
    <h3 style="font-family:monospace">"{{jokeInput}}"</h2>

    <form class="form-inline my-2 my-lg-0" action="" method="POST">
        {% csrf_token %}
        <div class="myradio">
            <label for="any"><input id="id_0" name="inputRadio" type="radio" value="Any" required> Any</label>
        </div>
        <div class="myradio">
            <label for="prog"><input id="id_1" name="inputRadio" type="radio" value="Programming" required> Programming</label>
        </div>
        <div class="myradio">
            <label for="miscellaneous"><input id="id_2" name="inputRadio" type="radio" value="Miscellaneous" required> Miscellaneous</label>
        </div>
        <div class="myradio">
            <label for="dark"><input id="id_3" name="inputRadio" type="radio" value="Dark" required> Dark</label>
        </div>
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">New Joke!</button>
    </form>
    <p>This is a site that'll generate jokes randomly from an API. Keep in mind that all the joke given was not from the developers and was only made for fun</p>
    
</body>
</html>